body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u233 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:600px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  position:absolute;
  left:0px;
  top:60px;
  width:120px;
  height:600px;
}
#u235 {
  position:absolute;
  left:2px;
  top:292px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u236 {
  position:absolute;
  left:0px;
  top:90px;
  width:120px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u237 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:600px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  position:absolute;
  left:120px;
  top:60px;
  width:1080px;
  height:600px;
}
#u239 {
  position:absolute;
  left:2px;
  top:292px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u240 {
  position:absolute;
  left:925px;
  top:19px;
  width:101px;
  height:23px;
  font-size:20px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u242 {
  position:absolute;
  left:1116px;
  top:21px;
  width:31px;
  height:19px;
  color:#FF0000;
}
#u243 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u244 {
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u245 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:325px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  position:absolute;
  left:398px;
  top:198px;
  width:525px;
  height:325px;
}
#u247 {
  position:absolute;
  left:2px;
  top:154px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u248 {
  position:absolute;
  left:169px;
  top:70px;
  width:196px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  position:absolute;
  left:420px;
  top:211px;
  width:140px;
  height:18px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u252 {
  position:absolute;
  left:420px;
  top:251px;
  width:71px;
  height:18px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u254 {
  position:absolute;
  left:420px;
  top:291px;
  width:102px;
  height:18px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u256 {
  position:absolute;
  left:420px;
  top:383px;
  width:383px;
  height:18px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  white-space:nowrap;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u258 {
  position:absolute;
  left:585px;
  top:210px;
  width:31px;
  height:19px;
  color:#FF0000;
}
#u259 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u260 {
  position:absolute;
  left:517px;
  top:251px;
  width:31px;
  height:19px;
  color:#FF0000;
}
#u261 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u262 {
  position:absolute;
  left:562px;
  top:291px;
  width:31px;
  height:19px;
  color:#FF0000;
}
#u263 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u264 {
  position:absolute;
  left:685px;
  top:424px;
  width:31px;
  height:19px;
  color:#FF0000;
}
#u265 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u266 {
  position:absolute;
  left:420px;
  top:334px;
  width:67px;
  height:18px;
}
#u267 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u268 {
  position:absolute;
  left:420px;
  top:425px;
  width:244px;
  height:18px;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u270 {
  position:absolute;
  left:517px;
  top:334px;
  width:31px;
  height:19px;
  color:#FF0000;
}
#u271 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u272 {
  position:absolute;
  left:823px;
  top:382px;
  width:31px;
  height:19px;
  color:#FF0000;
}
#u273 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
